body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#header-top, #header-bottom {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #333;
}

#header-top {
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.search-bar button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

#header-bottom {
  display: none; /* Começa oculto */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
