*{
    margin: 0;
    padding: 0;
}

:root{
    --background-color: #ffffff;
    --text-color: #000000;
}

#darkmode:root{
    --background-color: #000000;
    --text-color: #ffffff;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);
}